body {
    color: #000;
    font-family: 'Urbanist', sans-serif;
}

/* ------------- */
.img img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.cnt-lg {
    max-width: 92%;
    margin: auto;
}

@media(max-width:1440px) {
    .cnt-lg {
        max-width: 96%;
        margin: auto;
    }
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

h2 span {
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

a {
    text-decoration: unset;
    color: #231F20;
}

p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
}

/* ---  */
.btn {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 26px;
    border-radius: 50px;
    color: #fff;
    transition: 0.3s ease;
    background-color: #007F61;
}

.btn i {
    margin-left: 6px;
}

.btn:hover {
    color: #007F61;
    background-color: transparent;
    border: 1px solid #007F61;
}

/* ---  */

.btn-white {
    color: #007F61;
    background-color: #fff;
}

.btn-white span {
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.btn.btn-white:hover {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn.btn-white:hover span {
    color: #fff;
    -webkit-text-fill-color: unset;
}

/* ---  */

.btn-outline {
    color: #007F61;
    background-color: unset;
    border: 1px solid #007F61;
}

.btn.btn-outline:hover {
    color: #fff;
    background-color: #007F61;
}

/* ---  */

.btn-outline-wht {
    color: #fff;
    background-color: unset;
    border: 1px solid #fff;
}

.btn.btn-outline-wht:hover {
    color: #007F61;
    border: 1px solid #fff;
    background-color: #fff;
}

/* ---------------- */
header {
    border-bottom: 1px solid #EDEDF1;
}

header nav {
    padding: 8px 40px 14px !important;
}

header .navbar-nav .nav-item {
    padding: 0 27px;
}

header .navbar-nav .nav-item .nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 0;
    padding-right: 0;
}

header .navbar-nav .nav-item .nav-link:hover,
header .navbar-nav .nav-item .nav-link.active {
    color: #007F61;
}

header .navbar-nav .nav-item:first-child {
    padding-left: 0;
}

header .navbar-nav .nav-item:last-child {
    padding-right: 0;
}

header .btn {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding: 9px 15px;
    border-radius: 30px;
    color: #fff;
    background-color: #007F61;
    border: 1px solid #007F61;
}

header .btn:hover {
    color: #007F61;
    border: 1px solid #007F61;
}



.home_hero {
    position: relative;
    background-image: url(../img/home-hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_hero .container {
    height: 695px;
}

.home_hero .row {
    height: inherit;
    align-items: center;
    justify-content: center;
}

.home_hero h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 86px;
    color: #fff;
    margin-bottom: 18px;
    font-family: 'Poppins', sans-serif;
}

.home_hero p {
    color: #fff;
    max-width: 620px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.home_hero .btn {
    margin-top: 36px;
    font-family: 'Poppins', sans-serif;
}

/* ------ Our Services ---  */
.service {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.service .title_sec {
    text-align: center;
    max-width: 720px;
    margin: auto;
    margin-bottom: 46px;
}

.service .title_sec h3 {
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.service .title_sec h2 {
    color: #061F33;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.service .ser-box {
    border-radius: 16px;
    padding: 40px 28px;
    background: #DEEEEB;
    margin-bottom: 20px;
    transition: 0.3s ease;
    height: 290px;
}

.service .ser-box img {
    margin-bottom: 34px;
    transition: 0.3s ease;
}

.service .ser-box .icn-w {
    display: none;
}

.service .ser-box h3 {
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 16px;
    color: #061F33;
}

.service .ser-box h3::before {
    position: absolute;
    content: '';
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #061F33;
}

.service .ser-box p {
    color: #231F20;
    font-weight: 400;
}

.service .ser-box p span {
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.service .ser-box:hover {
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
}

.service .ser-box:hover h3,
.service .ser-box:hover h5,
.service .ser-box:hover p,
.service .ser-box:hover p span {
    color: #fff;
    -webkit-text-fill-color: unset;
}

.service .ser-box:hover h3::before {
    background-color: #fff;
}

.service .ser-box:hover .icn-b {
    display: none;
}

.service .ser-box:hover .icn-w {
    display: block;
}

.service .more-btn {
    margin-top: 26px;
}

.service .more-btn i {
    transform: rotateZ(315deg);
}

/* ----- project ----  */
.project {
    position: relative;
    padding-top: 30px;
    padding-bottom: 60px;
}

.project .row-head {
    margin-bottom: 58px;
}

.project .see-more {
    text-align: right;
}


.project h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.project h2 span {
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.project .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project .flex .txt {
    max-width: 80%;
}

.project .flex .icon {
    max-width: 20%;
}

.project .pro-wrap {
    margin-bottom: 76px;
}

.project .pro-wrap:last-child {
    margin-bottom: 0;
}

.project .mar-top {
    margin-top: 50px;
}

.project .pro-wrap img {
    width: 100%;
}

.project .pro-wrap .icn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #DEEEEB;
    transform: rotateZ(315deg);
}

.project .pro-wrap .icn i {
    color: #007F61;
}

.project .pro-wrap .text {
    margin-top: 20px;
}

.project .pro-wrap .txt h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.project .pro-wrap .txt p {
    margin-bottom: 0;
    color: #007F61;
}

/* .project .pro-wrap a{} */
.project .pro-wrap a:hover .icn {
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
}

.project .pro-wrap a:hover .icn i {
    color: #fff;
}

.project .more-btn {
    margin-top: 50px;
}

.project .more-btn i {
    transform: rotateZ(315deg);
}

/* -- expertise ----  */
.expertise {
    position: relative;
    padding-top: 80px;
    padding-bottom: 140px;
}

.expertise h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #061F33;
    margin-bottom: 64px;
}

.expertise .expert-info {
    flex: 0 0 auto;
    width: 20%;
    text-align: center;
    margin-bottom: 60px;
}

.expertise .expert-info h6 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #061F33;
    margin-top: 20px;
}


/* ------- work ---  */
.work {
    position: relative;
    padding-top: 72px;
    padding-bottom: 127px;
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
    color: #fff;
}

.work .title_sec {
    margin-bottom: 44px;
    text-align: center;
}

.work .title_sec h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.work .title_sec h2 {
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
}

.work .work-wrap {
    display: flex;
    align-items: center;
    height: 420px;
    border-radius: 15px;
    padding: 32px 28px;
    text-align: center;
    background-color: #fff;
}

.work .work-wrap img {
    margin-bottom: 26px;
}

.work .work-wrap h4 {
    color: #061F33;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 16px;
}

.work .work-wrap p {
    font-size: 15px;
    font-weight: 400;
    color: #231F20;
    margin-bottom: 0;
}

/* ------ team ----  */
.team {
    position: relative;
    padding-top: 84px;
    padding-bottom: 115px;
    background-color: #F6F6F6;
}

.team h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #061F33;
    margin-bottom: 32px;
}


.team .team-wrap {
    position: relative;
}

.team img {
    border-radius: 16px;
    width: 100%;
}

.team .txt {
    position: absolute;
    top: 0;
    padding: 25px 20px;
}

.team .txt h3 {
    color: #007F61;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 7px;
}

.team .team-wrap p {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #061F33;
}

/* ----- deal -----  */
.deal {
    position: relative;
    padding-top: 82px;
    padding-bottom: 80px;
}

.deal .cnt-lg {
    padding: 80px;
    border-radius: 16px;
    background-color: #DEEEEB;
}

.deal h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 44px;
}

.deal h3 {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.deal h3 span {
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.deal p {
    color: rgba(35, 31, 32, 0.7);
}

.deal p span {
    display: block;
}

/* ------ client -------  */
.client {
    position: relative;
    padding-top: 80px;
    padding-bottom: 150px;
}

.client .title_sec {
    text-align: center;
    margin-bottom: 38px;
}

.client h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #061F33;
    margin-bottom: 16px;
}

.client .txt {
    margin-left: 17px;
    color: #061F33;
}

.client h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 8px;
}

.client .content {
    margin-top: 34px;
    color: #231F20;
    text-align: center;
}

.client .slick-prev,
.client .slick-next {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #DEEEEB;
}

.client .slick-prev::before,
.client .slick-next::before {
    color: #292D32;
}

.client .slick-prev {
    left: -25%;
}

.client .slick-next {
    right: -25%;
}

.client .slick-prev:focus,
.client .slick-next:focus {
    background: #DEEEEB;
}

.client .slick-prev:hover,
.client .slick-next:hover {
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
}

.client .slick-prev:hover::before,
.client .slick-next:hover::before {
    color: #fff;
}

/* --------- slick slider -----  */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'FontAwesome' !important;
}

/* --------- slick slider -----  */


/* ------- footer -----  */
footer {
    position: relative;
    /* background-color: #DEEEEB; */
}

footer::before {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
    background-color: #DEEEEB;
}

footer .footer-top {
    color: #fff;
    padding: 80px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
    border-radius: 16px;
}

footer .left-txt h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 12px;
}

footer .left-txt p {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

footer .left-txt .btn {
    margin-top: 26px;
}

footer .right-social p {
    /* color: #fff; */
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 18px;
}

footer .right-social ul {
    display: flex;
    flex-wrap: wrap;
}

footer .right-social ul li {
    position: relative;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .right-social ul li:last-child {
    margin-right: 0;
}

footer .right-social ul li::before {
    position: absolute;
    content: '';
    top: 0;
    width: 40px;
    height: 40px;
    z-index: 0;
    border-radius: 50px;
    background: #fff;
}

footer .right-social ul li a {
    z-index: 1;
}

footer .right-social ul li a i {
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

footer .border-top {
    position: relative;
    padding-top: 22px;
}

footer .border-top::before {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background: #061F33;
}

footer .menu-list ul {
    display: flex;
}

footer .menu-list ul li {
    margin-right: 64px;
}

footer .menu-list ul li:last-child {
    margin-right: 0;
}

footer .menu-list ul li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #061F33;
}

footer .menu-list ul li a:hover {
    color: #007F61;
}

footer .numb p {
    position: relative;
    padding-left: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #061F33;
}

footer .numb p img {
    position: absolute;
    top: -4px;
    left: 0;
}

footer .copyright-text p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}


/* ---------- Service Page ---- */
.service_hero {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fff;
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
}

.service_hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 110px;
    height: 124px;
    background-image: url(../img/icons/box-icons-top.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service_hero h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 86px;
    font-family: 'Poppins';
}

.service_hero p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.service_hero .btn {
    margin-top: 18px;
}

/* .service_hero .btn */

.case-study {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.case-study .case-wrap,
.case-study .img {
    margin-bottom: 96px;
}

.case-study .last-row .case-wrap,
.case-study .last-row .img {
    margin-bottom: 0px;
}

.case-study .top-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 16px;
    border-radius: 16px;
    background-color: #FFEDD7;
}

.case-study .top-txt.txt2 {
    background-color: #DEEEEB;
}

.case-study .top-txt.txt3 {
    background-color: #DBE7DB;
}

.case-study h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #061F33;
    margin-top: 16px;
}

.case-study .mar-top {
    font-weight: 400;
    margin-top: 34px;
    margin-bottom: 6px;
}

.case-study .btn {
    margin-top: 32px;
}

/* -------  */
.our-process {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.our-process .process-list {
    margin-top: 60px;
}

.our-process .process-list ul {
    position: relative;
    padding-right: 70px;
}

.our-process .process-list ul::after {
    position: absolute;
    content: '';
    top: 80px;
    right: -180px;
    width: 94px;
    height: 94px;
    background-image: url(../img/icons/bar.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.our-process .process-list ul::before {
    position: absolute;
    content: '';
    top: -25px;
    right: 0;
    width: 1px;
    height: 284px;
    border-right: 1px dashed #000;
}

.our-process .process-list li {
    position: relative;
    padding: 14px 20px;
    border-radius: 8px;
    margin-bottom: 36px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #061F33;
}

.our-process .process-list li::before {
    position: absolute;
    content: '';
    top: 25px;
    right: -70px;
    width: 70px;
    height: 1px;
    border-bottom: 1px dashed #000;

}

.our-process .process-list li:nth-last-child(3) {
    background: #FBDECC;
}

.our-process .process-list li:nth-last-child(2) {
    background: #DBE7DB;
}

.our-process .process-list li:nth-last-child(1) {
    background: #E2E2E2;
}

.our-process .process-list li:nth-last-child(3) .numb {
    color: #FF855E;
}

.our-process .process-list li:nth-last-child(2) .numb {
    color: #007F61;
}

.our-process h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.our-process h3 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #061F33;
    margin-bottom: 24px;
}

.our-process .process-wrap ul {
    margin-top: 32px;
    padding: 0px;
}

.our-process .process-wrap ul li {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
    padding-left: 50px;
}

.our-process .process-wrap ul li::before {
    position: absolute;
    content: '\f00c';
    top: -7px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    border-radius: 50px;
    color: #FF855F;
    background-color: #FBDECC;
    font-family: 'fontawesome';
}

/* --------project pages-------  */
.project_hero {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.project_hero h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: #061F33;
    margin-bottom: 24px;
}

.project_hero h2 span {
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.project_hero p {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #5B5675;
}

.project-tabs .see-more {
    padding: 20px 0;
}

.project-tabs .see-more i {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #007F61;
    border-radius: 50px;
    border: 1px solid #007F61;
}

.project-tabs .nav-tabs {
    border: none;
    margin-bottom: 80px;
}

.project-tabs .nav-tabs .nav-link {
    padding: 8px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #061F33;
    margin-right: 24px;
    border-radius: 8px;
    background: #fff;
    border: none;
    transition: 0.3s ease-in-out;
}

.project-tabs .nav-tabs .nav-link.active,
.project-tabs .nav-tabs .nav-link:hover,
.project-tabs .nav-tabs .nav-link:focus {
    border: none;
    color: #fff;
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
}

.project .pro-wrap .text .desc {
    padding-right: 20px;
    margin-top: 12px;
}

.project.project-tabs .pro-wrap {
    margin-bottom: 64px;
}

.project.project-tabs .col-lg-6:nth-last-child(1) .pro-wrap,
.project.project-tabs .col-lg-6:nth-last-child(2) .pro-wrap {
    margin-bottom: 0;
}

/* ---- let ----  */
.let {
    position: relative;
    padding: 96px 60px;
    border-radius: 16px;
    margin: 90px auto;
    background-color: #DEEEEB;
}

.let h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 24px;
}

.let h2 span {
    background: linear-gradient(90deg, #11698E 0.02%, #16C79A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.let p span {
    display: block;
}

.let .btn {
    margin-top: 28px;
}

/* --------------- contact_hero  */
.contact_hero {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact_hero h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: #061F33;
    margin-bottom: 24px;
}

.contact_hero h2 span {
    display: block;
}

.contact_hero form {
    margin-top: 50px;
}

.contact_hero form .form-group {
    margin-bottom: 24px;
}

.contact_hero form .form-control {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #061F33;
    border-radius: 14px;
    padding: 16px;
    background: #F4F4F4;
    border: 1px solid #E3E3E9;
}

.contact_hero form .form-control::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #061F33;
}

.contact_hero form .form-control:focus {
    box-shadow: none;
    outline: none;
}

.contact_hero form .text h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #061F33;
    margin-bottom: 14px;
}

.contact_hero form .btn {
    width: 100%;
    margin-top: 14px;
}

.contact_hero form .btn i {
    transform: rotateZ(315deg);
}

.contact_hero .flex-loc {
    margin-top: 115px;
    justify-content: space-between;
}

.contact_hero .loc-wrap {
    width: 40%;
}

.contact_hero .loc-wrap h4 {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #231F20;
}

.contact_hero .loc-wrap .btn {
    margin-top: 20px;
}

.contact_hero .loc-wrap .btn i {
    transform: rotateZ(315deg);
}

.contact_hero .con-detail .detail-wrap {
    margin-bottom: 34px;
    flex-wrap: nowrap;
}

.contact_hero .con-detail .detail-wrap .icon {
    margin-right: 20px;
}

.contact_hero .detail-wrap p {
    color: #061F33;
    margin-bottom: 6px;
}

.contact_hero .con-detail .detail-wrap a {
    color: #007F61;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.inset_logo {
    position: relative;
    padding: 60px 0;
}

.inset_logo h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}